
<div class="fullscreen-div">
    <form [formGroup]="formularioCadastro" class="Container">
        <div class="CadastroContent">
            <p>Cadastro</p>
            <input type="text" placeholder="Nome De Usuario" formControlName="campoNomeUsuario">
            @if (formularioCadastro.get("campoNomeUsuario")?.touched && formularioCadastro.get("campoNomeUsuario")?.invalid) {
              <div>
              @if (formularioCadastro.get("campoNomeUsuario")?.errors?.['required']) {
                <small>Campo obrigatorio</small>
              }
              
              @if (formularioCadastro.get("campoNomeUsuario")?.errors?.["maxlength"]) {
                <small>Maximo de 10 caracteres</small>
              }
              </div>
            }
            <br>
            <input type="text" placeholder="Email" formControlName="campoEmail">
            @if (formularioCadastro.get("campoEmail")?.touched && formularioCadastro.get("campoEmail")?.invalid) {
              <div>
              @if (formularioCadastro.get("campoEmail")?.errors?.['required']) {
                <small>Campo obrigatorio</small>
              }
              @if (formularioCadastro.get("campoEmail")?.errors?.['email']) {
                <small>Email inválido</small>
              }
              </div>
            }
            <br>
            <input type="text" placeholder="Senha" formControlName="camposenhaUsuario">
            @if (formularioCadastro.get("camposenhaUsuario")?.touched && formularioCadastro.get("camposenhaUsuario")?.invalid) {
              <div>
              @if (formularioCadastro.get("camposenhaUsuario")?.errors?.['required']) {
                <small>Campo obrigatorio</small>
              }
              @if (formularioCadastro.get("camposenhaUsuario")?.errors?.['pattern']) {
                <small>Senha inválida<br>A senha deve ter:<br>1 caractere maiusculo<br>1 caractere minusculo<br>1 numero<br>1 caractere especial</small>
              }
              </div>
            }
            <br>
            <input type="text" placeholder="ConfirmarSenha" formControlName="campoconfirmasenhaUsuario">
            @if (formularioCadastro.get("campoconfirmasenhaUsuario")?.touched && formularioCadastro.get("campoconfirmasenhaUsuario")?.invalid) {
              <div>
              @if (formularioCadastro.get("campoconfirmasenhaUsuario")?.errors?.['required']) {
                <small>Campo obrigatorio</small>
              }
              </div>
            }
            @if (formularioCadastro.get("camposenhaUsuario")?.value != formularioCadastro.get("campoconfirmasenhaUsuario")?.value) {
                <small>Senha errada</small>
              }
            <br>
            <button (click)="Cadastrar()">Cadastrar</button>
            <br>
            <a routerLink="">voltar</a>
        </div>
    </form>
</div>
