<div class="fullscreen-div">
    <form action="" class="Container" [formGroup]="formDeletar">
        <div class="deletarContent">
            <p>Deletar</p>
            <br>
            <input type="text" formControlName="campoNomeEmail" placeholder="Nome de usuario ou email">
            @if (formDeletar.get("campoNomeEmail")?.touched && formDeletar.get("campoNomeEmail")?.invalid) {
            <div>
                @if (formDeletar.get("campoNomeEmail")?.errors?.["required"]) {
                    <small>Campo obrigatorio</small>
                }
            </div>
            }
            <br>
            <input type="text" formControlName="campoSenha" placeholder="Senha">
            @if (formDeletar.get("campoSenha")?.touched && formDeletar.get("campoSenha")?.invalid) {
            <div>
                <small>Campo obrigatorio</small>
            </div>
            }
            <br>
            <button (click)="deletar()">Deletar</button>
        </div>
    </form>
</div>