<div class="fullscreen-div">
    @if (confirmacao == undefined) {
    <form [formGroup]="formConfirmar" class="Container">
        <div class="atualizarContent">
            <p>Qual usuario você quer atualizar?</p>
            <input type="text" formControlName="campoNomeEmail" placeholder="Nome de usuario ou email">
            @if (formConfirmar.get("campoNomeEmail")?.touched && formConfirmar.get("campoNomeEmail")?.invalid) {
            <div>
                @if (formConfirmar.get("campoNomeEmail")?.errors?.["required"]) {
                <small>Campo Obrigatorio</small>
                }
            </div>
            }
            <br>
            <input type="text" formControlName="campoSenha" placeholder="Senha">
            @if (formConfirmar.get("campoSenha")?.touched && formConfirmar.get("campoSenha")?.invalid) {
            <div>
                @if (formConfirmar.get("campoSenha")?.errors?.["required"]) {
                <small>Campo Obrigatorio</small>
                }
            </div>
            }
            <br>
            <button (click)="confirmar()">Confirmar</button>
        </div>
    </form>
    }
    @else{
    <form [formGroup]="formAtualizar" class="Container">
        <div class="atualizarContent">
            <p>Atualizar</p>
            <br>
            <input type="text" formControlName="campoNome" placeholder="Nome">
            @if (formAtualizar.get("campoNome")?.touched && formAtualizar.get("campoNome")?.invalid) {
            <div>
                @if (formAtualizar.get("campoNome")?.errors?.["required"]) {
                <small>Campo obrigatorio</small>
                }
                @if (formAtualizar.get("campoNome")?.errors?.["maxlength"]) {
                <small>Maximo de 10 caracteres</small>
                }
            </div>
            }
            <br>
            <input type="text" formControlName="campoEmail" placeholder="Email">
            @if (formAtualizar.get("campoEmail")?.touched && formAtualizar.get("campoEmail")?.invalid) {
            <div>
                @if (formAtualizar.get("campoEmail")?.errors?.['required']) {
                <small>Campo obrigatorio</small>
                }
                @if (formAtualizar.get("campoEmail")?.errors?.['email']) {
                <small>Email inválido</small>
                }
            </div>
            }
            <br>
            <input type="text" formControlName="camposenha" placeholder="Senha">
            @if (formAtualizar.get("camposenha")?.touched && formAtualizar.get("camposenha")?.invalid) {
              <div>
              @if (formAtualizar.get("camposenha")?.errors?.['required']) {
                <small>Campo obrigatorio</small>
              }
              @if (formAtualizar.get("camposenha")?.errors?.['pattern']) {
                <small>Senha inválida<br>A senha deve ter:<br>1 caractere maiusculo<br>1 caractere minusculo<br>1 numero<br>1 caractere especial</small>
              }
              </div>
            }
            <br>
            <input type="text" formControlName="campoconfirmasenha" placeholder="Confirma senha">
             @if (formAtualizar.get("campoconfirmasenha")?.touched && formAtualizar.get("campoconfirmasenha")?.invalid) {
              <div>
              @if (formAtualizar.get("campoconfirmasenha")?.errors?.['required']) {
                <small>Campo obrigatorio</small>
              }
              </div>
            }
            @if (formAtualizar.get("camposenha")?.value != formAtualizar.get("campoconfirmasenha")?.value) {
                <small>Senha errada</small>
              }
            <br>
            <button (click)="atualizar()">Atualizar</button>
        </div>
    </form>
    }
</div>